.about-body {
  display: grid;
  row-gap: $sp-unit-5 * 3;
}

.about-body-bottom {
  @include padding(null $sp-unit-4 * 3);
  display: grid;
  column-gap: $sp-unit-1;
  grid-template-areas:
    "a a a a"
    ". b b b"
    ". d d d"
    ". . e e"
    "f f f f"
    "c c c ."
    "g g g ."
    ". . h h";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(medium) {
    grid-template-areas:
      ". . a a a a a a a a a a"
      ". . . . . b b b b b b b"
      ". . . . . . . . d d d d"
      ". . . . . . . e e e e e"
      ". . . . . f f f f f f f"
      "c c c c . . . . . . . ."
      "c c c c g g g g . . . ."
      ". . . . g g g g h h h h"
      ". . . . . . . . h h h h";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". . . a a a a a a a a a"
      ". . . . . b b b b b b b"
      ". . . . . . . . d d d d"
      ". c c c . . . e e e e e"
      ". c c c . f f f f f f f"
      ". g g g . . . . . . . ."
      ". g g g h h h . . . . ."
      ". . . . h h h . . . . .";
    grid-template-columns: repeat(12, 1fr);
  }
}

.about-body-bottom-heading-1,
.about-body-bottom-heading-2,
.about-body-bottom-heading-3,
.about-body-bottom-heading-4,
.about-body-bottom-heading-5 {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;
  user-select: none;
  white-space: nowrap;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.about-body-bottom-heading-1 {
  grid-area: a;
}

.about-body-bottom-heading-2 {
  grid-area: b;
}

.about-body-bottom-heading-3 {
  grid-area: d;
  text-align: end;
}

.about-body-bottom-heading-4 {
  grid-area: e;
}

.about-body-bottom-heading-5 {
  grid-area: f;

  @include respond-below(medium) {
    padding-bottom: $sp-unit-4;
  }
}

.about-body-bottom-text-1,
.about-body-bottom-text-2,
.about-body-bottom-text-3,
.about-body-top-text-1,
.about-body-top-text-2 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.about-body-bottom-text-1 {
  grid-area: c;

  @include respond-above(large) {
    align-self: end;
  }
}

.about-body-bottom-text-2 {
  grid-area: g;
}

.about-body-bottom-text-3 {
  grid-area: h;
}

.about-body-top {
  @include padding(null $sp-unit-4 * 3);
  display: grid;
  gap: $sp-unit-4 $sp-unit-1;

  @include respond-above(small) {
    grid-template-areas:
      "a a . ."
      "a a . ."
      "a a b b"
      ". . b b";
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond-above(medium) {
    grid-template-areas:
      ". . . a a a a . . . . ."
      ". . . a a a a . . . . ."
      ". . . a a a a b b b b ."
      ". . . . . . . b b b b .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". . . . a a a . . . . ."
      ". . . . a a a . . . . ."
      ". . . . a a a b b b . ."
      ". . . . . . . b b b . .";
  }
}

.about-body-top-text-emphasis {
  font-style: italic;
}

.about-body-top-text-1 {
  @include respond-above(small) {
    grid-area: a;
  }
}

.about-body-top-text-2 {
  @include respond-above(small) {
    grid-area: b;
  }
}
