.case-two-implementation {
  display: grid;
  row-gap: 2vw;
}

.case-two-implementation-drawings,
.case-two-implementation-improvements {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.case-two-implementation-figure-1,
.case-two-implementation-figure-2,
.case-two-implementation-figure-3 {
  font-family: $font-pleasure;
  font-size: 40vw;
  font-variation-settings: "TRAP" 100, "ital" 100, "wght" 900;

  @include respond-above(medium) {
    font-size: 16vw;
  }
}

.case-two-implementation-figure-1 {
  grid-area: a;
}

.case-two-implementation-figure-2 {
  grid-area: b;
  margin-bottom: -15vw;
  margin-top: -15vw;

  @include respond-above(medium) {
    margin-bottom: unset;
    margin-top: unset;
  }
}

.case-two-implementation-figure-3 {
  grid-area: c;
  margin-top: unset;

  @include respond-above(medium) {
    margin-top: -6vw;
  }
}

.case-two-implementation-figures,
.case-two-implementation-heading,
.case-two-implementation-text {
  color: $trinidad-orange;
}

.case-two-implementation-figures {
  display: grid;
  grid-template-areas:
    "a a a a"
    ". b b b"
    ". . c c";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(medium) {
    grid-template-areas:
      ". . . . . b b b . . . ."
      ". . a a a b b b . . . ."
      ". . a a a c c c . . . ."
      ". . . . . c c c . . . .";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-two-implementation-heading,
.case-two-implementation-text {
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-two-implementation-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 1;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-two-implementation-img {
  border-radius: 1.2vw;
}

.case-two-implementation-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}
