.detail-one-planning {
  border-top: $border-unit-2 solid $woodsmoke-black;
  display: grid;
}

.detail-one-planning-figure-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-figure-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-figure-3 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-figure-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-one-planning-figure-text {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
}

.detail-one-planning-figures {
  @include padding(null $sp-unit-4);
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, 1fr);

  @include respond-above(medium) {
    @include padding(unset);
    grid-template-areas:
      ". . a a a b b b c c c .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". . a a . b b . c c . .";
  }
}

.detail-one-planning-separator {
  @include padding(null $sp-unit-4);
  column-gap: $sp-unit-4;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);

  @include respond-above(medium) {
    @include padding(unset);
  }
}

.detail-one-planning-separator-number,
.detail-one-planning-separator-text {
  user-select: none;
}

.detail-one-planning-separator-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(medium) {
    grid-column: 2;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-one-planning-separator-text {
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  padding-top: $sp-unit-4;
  grid-column: span 4;

  @include respond-above(small) {
    grid-column: span 3;
  }

  @include respond-above(medium) {
    font-size: $font-body-4;
    grid-column: 3/span 2;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.detail-one-planning-text-1,
.detail-one-planning-text-2,
.detail-one-planning-text-3 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-one-planning-text-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-text-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-text-3 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-text-wrapper {
  @include padding(null $sp-unit-4);
  display: grid;

  @include respond-above(medium) {
    @include padding(unset);
    grid-template-areas:
      ". . a a a . . . . . . ."
      ". . . . b b b . . . . ."
      ". . . . . . . c c c . .";
    grid-template-columns: repeat(12, 1fr);
  }
}
