.case-two-finale {
  display: grid;
  margin-bottom: 12vw;
  row-gap: 2vw;
}

.case-two-finale-heading,
.case-two-finale-text {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-two-finale-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 1;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-two-finale-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}
