.detail-one-planning {
  @include padding(null $sp-unit-4);
  border-top: $border-unit-2 solid $woodsmoke-black;
  display: grid;
  row-gap: $sp-unit-2 * 10;

  @include respond-above(medium) {
    @include padding(unset);
    row-gap: $sp-unit-3 * 10;
  }
}

.detail-one-planning-figure-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-figure-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-figure-3 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-figure-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-one-planning-figure-text {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
}

.detail-one-planning-figures {
  display: grid;
  gap: $sp-unit-4 * 2;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(2, 1fr);

  @include respond-above(medium) {
    grid-template-areas:
      ". . a a a b b b c c c .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    gap: unset;
    grid-template-areas:
      ". . a a . b b . c c . .";
    grid-template-columns: repeat(12, 1fr);
  }
}

.detail-one-planning-separator {
  column-gap: $sp-unit-4;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);
}

.detail-one-planning-separator-number,
.detail-one-planning-separator-text {
  user-select: none;
}

.detail-one-planning-separator-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(medium) {
    grid-column: 2;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-one-planning-separator-text {
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  padding-top: $sp-unit-4;
  grid-column: span 4;

  @include respond-above(small) {
    grid-column: span 3;
  }

  @include respond-above(medium) {
    font-size: $font-body-4;
    grid-column: 3/span 2;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.detail-one-planning-solution {
  display: grid;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    row-gap: $sp-unit-4 * 3;
  }
}

.detail-one-planning-solution-text-1,
.detail-one-planning-solution-text-2,
.detail-one-planning-solution-text-3 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-one-planning-solution-text-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-solution-text-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-solution-text-3 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-solution-text-wrapper {
  display: grid;

  @include respond-above(medium) {
    grid-template-areas:
      ". . a a a a . . . . . ."
      ". . . . b b b b . . . ."
      ". . . . . . . c c c c .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". . a a a . . . . . . ."
      ". . . . b b b . . . . ."
      ". . . . . . . c c c . .";
  }
}

.detail-one-planning-sprint-bottom {
  display: grid;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    gap: $sp-unit-2 ($sp-unit-4 * 2);
    grid-template-areas:
      ". a a a a a a . . . . ."
      ". a a a a a a b b b b ."
      ". a a a a a a . . . . ."
      ". a a a a a a c c c . ."
      ". . . . . . . c c c . .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". a a a a a a . . . . ."
      ". a a a a a a . b b b ."
      ". a a a a a a . . . . ."
      ". a a a a a a c c c . ."
      ". . . . . . . c c c . .";
  }
}

.detail-one-planning-sprint-bottom-img-1 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-sprint-bottom-img-2 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-sprint-bottom-text {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;

  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-sprint-top {
  display: grid;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    gap: $sp-unit-2 ($sp-unit-4 * 2);
    grid-template-areas:
      ". . . . . c c c c c c ."
      ". a a a a c c c c c c ."
      ". b b b b c c c c c c ."
      ". . . . . c c c c c c .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    gap: $sp-unit-2 ($sp-unit-4 * 3);
    grid-template-areas:
      ". . . . . . c c c c c ."
      ". . a a a . c c c c c ."
      ". . . b b b c c c c c ."
      ". . . . . . c c c c c .";
  }
}

.detail-one-planning-sprint-top-img {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-one-planning-sprint-top-text-1,
.detail-one-planning-sprint-top-text-2 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-one-planning-sprint-top-text-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-one-planning-sprint-top-text-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-one-planning-sprints {
  display: grid;
  row-gap: $sp-unit-4 * 3;

  @include respond-above(medium) {
    row-gap: $sp-unit-4 * 4;
  }
}
