.detail-two-planning {
  @include padding(null $sp-unit-4);
  border-top: $border-unit-2 solid $woodsmoke-black;
  display: grid;
  row-gap: $sp-unit-2 * 10;

  @include respond-above(medium) {
    @include padding(unset);
    row-gap: $sp-unit-3 * 10;
  }
}

.detail-two-planning-context {
  display: grid;
  row-gap: $sp-unit-1;

  @include respond-above(medium) {
    grid-template-areas:
      ". a a a a . . . . . . . ."
      ". a a a a . b b b b . . ."
      ". a a a a . c c c c . . ."
      ". a a a a . d d d d . . ."
      ". a a a a . . . . . . . .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". a a a . . . . . . . . ."
      ". a a a . b b b . . . . ."
      ". a a a . . . c c c . . ."
      ". a a a . . . . . d d d ."
      ". a a a . . . . . . . . .";
  }
}

.detail-two-planning-context-text-1,
.detail-two-planning-context-text-2,
.detail-two-planning-context-text-3,
.detail-two-planning-request-text-1,
.detail-two-planning-request-text-2,
.detail-two-planning-request-text-3 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-two-planning-context-text-1 {
  padding-top: $sp-unit-5;

  @include respond-above(medium) {
    grid-area: b;
    padding-top: 0;
  }
}

.detail-two-planning-context-text-2 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-two-planning-context-text-3 {
  @include respond-above(medium) {
    grid-area: d;
  }
}

.detail-two-planning-context-video {
  border-radius: $border-unit-4 * 5;
  width: 100%;

  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-two-planning-request {
  display: grid;
  row-gap: $sp-unit-1;

  @include respond-above(medium) {
    column-gap: $sp-unit-4;
    grid-template-areas:
      ". a a a a a a a a . . ."
      ". . . . . b b b d d d ."
      ". . . . . c c c d d d .";
    grid-template-columns: repeat(12, 1fr);
  }
}

.detail-two-planning-request-img {
  margin-bottom: $sp-unit-5;

  @include respond-above(medium) {
    grid-area: a;
    margin-bottom: $sp-unit-5 * 2;
  }
}

.detail-two-planning-request-text-1 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-two-planning-request-text-2 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-two-planning-request-text-3 {
  @include respond-above(medium) {
    grid-area: d;
  }
}

.detail-two-planning-separator {
  column-gap: $sp-unit-4;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(12, 1fr);
}

.detail-two-planning-separator-number,
.detail-two-planning-separator-text {
  user-select: none;
}

.detail-two-planning-separator-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(medium) {
    grid-column: 2;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-two-planning-separator-text {
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  padding-top: $sp-unit-4;
  grid-column: span 4;

  @include respond-above(small) {
    grid-column: span 3;
  }

  @include respond-above(medium) {
    font-size: $font-body-4;
    grid-column: 3/span 2;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.detail-two-planning-sprint-bottom {
  display: grid;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    gap: $sp-unit-2 ($sp-unit-4 * 2);
    grid-template-areas:
      ". a a a a a a . . . . ."
      ". a a a a a a b b b b ."
      ". a a a a a a d d d d ."
      ". a a a a a a . . . . ."
      ". a a a a a a c c c . ."
      ". . . . . . . c c c . ."
      ". . . e e e . c c c . .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". a a a a a a . . . . ."
      ". a a a a a a . b b b ."
      ". a a a a a a . d d d ."
      ". a a a a a a . . . . ."
      ". a a a a a a c c c . ."
      ". . . . . . . c c c . ."
      ". . . e e e . c c c . .";
  }
}

.detail-two-planning-sprint-bottom-img-1 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-two-planning-sprint-bottom-img-2 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-two-planning-sprint-bottom-text-1,
.detail-two-planning-sprint-bottom-text-2,
.detail-two-planning-sprint-bottom-text-3 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-two-planning-sprint-bottom-text-1 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-two-planning-sprint-bottom-text-2 {
  @include respond-above(medium) {
    grid-area: d;
  }
}

.detail-two-planning-sprint-bottom-text-3 {
  @include respond-above(medium) {
    grid-area: e;
  }
}

.detail-two-planning-sprint-top {
  display: grid;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    gap: $sp-unit-2 ($sp-unit-4 * 2);
    grid-template-areas:
      ". . . . . c c c c c c ."
      ". a a a a c c c c c c ."
      ". b b b b c c c c c c ."
      ". . . . . c c c c c c .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    gap: $sp-unit-2 ($sp-unit-4 * 3);
    grid-template-areas:
      ". . . . . . c c c c c ."
      ". . a a a . c c c c c ."
      ". . b b b . c c c c c ."
      ". . . . . . c c c c c .";
  }
}

.detail-two-planning-sprint-top-img {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-two-planning-sprint-top-text-1,
.detail-two-planning-sprint-top-text-2 {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-two-planning-sprint-top-text-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-two-planning-sprint-top-text-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-two-planning-sprints {
  display: grid;
  row-gap: $sp-unit-4 * 3;

  @include respond-above(medium) {
    row-gap: $sp-unit-4 * 4;
  }
}
