.case-two {
  @include padding(null $sp-unit-2);
  background-image: url(../images/line.svg);
  background-position-y: 83%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "a a a a"
    ". c c c"
    "d d d d"
    ". e e b"
    "f f f b"
    "g g g g";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(small) {
    background-position-y: 77%;
  }

  @include respond-above(medium) {
    background-position-y: 57%;
  }

  @include respond-above(large) {
    background-image: url(../images/lines.svg);
    background-position-y: 78%;
    grid-template-areas:
      ". a a a a a a a a a a a"
      ". b b . . c c c c c c c"
      ". b b . . . d d d d d d"
      ". . . . . e e e e e e e"
      ". . f f f f f f f f f f"
      "g g g g g g g g g g g g";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(xlarge) {
    background-position-y: 57%;
  }

  @include respond-above(xxlarge) {
    background-position-y: 48%;
  }
}

.case-two-text-1,
.case-two-text-2,
.case-two-text-3,
.case-two-text-4,
.case-two-text-5,
.case-two-link {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}
.case-two-subtext,
.case-two-text-1,
.case-two-text-2,
.case-two-text-3,
.case-two-text-4,
.case-two-text-5,
.case-two-link {
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
}

.case-two-subtext {
  align-self: center;
  display: grid;
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-area: b;
  grid-auto-rows: min-content;

  @include respond-above(large) {
    font-size: $font-body-4;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.case-two-text-1 {
  grid-area: a;
}

.case-two-text-2 {
  grid-area: c;
}

.case-two-text-3 {
  grid-area: d;
  text-align: end;
}

.case-two-text-4 {
  grid-area: e;
}

.case-two-text-5 {
  grid-area: f;
}

.case-two-link {
  grid-area: g;
  text-decoration: none;

  &:hover {
    background-color: $woodsmoke-black;
    color: $hint-of-red;
  }
}

.case-two-link-icons {
  display: none;

  @include respond-above(large) {
    display: inline;
  }
}
