.case-one-implementation {
  display: grid;
  row-gap: 2vw;
}

.case-one-implementation-device-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.case-one-implementation-device-2 {
  @include respond-above(medium) {
    align-self: end;
    grid-area: b;
  }
}

.case-one-implementation-devices {
  display: grid;
  gap: 4vw;
  
  @include respond-above(medium) {
    grid-template-areas:
      "a a a a a a a . . . . ."
      "a a a a a a a b b b b b"
      ". . . . . . . b b b b b";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-one-implementation-heading,
.case-one-implementation-text {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-one-implementation-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 1;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-one-implementation-img {
  border-radius: 0.8vw;
}

.case-one-implementation-prototypes {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-columns: 1fr 2fr;
  }
}

.case-one-implementation-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}

.case-one-implementation-video {
  border-radius: 0.8vw;
}
