.case-one-planning {
  display: grid;
  margin-left: 4vw;
  margin-right: 4vw;
  row-gap: 2vw;
}

.case-one-planning-figure-1,
.case-one-planning-figure-2,
.case-one-planning-figure-3 {
  font-family: $font-pleasure;
  font-size: 40vw;
  font-variation-settings: "TRAP" 100, "ital" 100, "wght" 900;

  @include respond-above(medium) {
    font-size: 16vw;
  }
}

.case-one-planning-figure-1 {
  grid-area: a;
}

.case-one-planning-figure-2 {
  grid-area: b;
  margin-bottom: -15vw;
  margin-top: -15vw;

  @include respond-above(medium) {
    margin-bottom: unset;
    margin-top: unset;
  }
}

.case-one-planning-figure-3 {
  grid-area: c;
  margin-top: unset;

  @include respond-above(medium) {
    margin-top: -6vw;
  }
}

.case-one-planning-figures,
.case-one-planning-heading,
.case-one-planning-text {
  color: $trinidad-orange;
}

.case-one-planning-figures {
  display: grid;
  grid-template-areas:
    "a a a a"
    ". b b b"
    ". . c c";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(medium) {
    grid-template-areas:
      ". . . . . b b b . . . ."
      ". . a a a b b b . . . ."
      ". . a a a c c c . . . ."
      ". . . . . c c c . . . .";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-one-planning-heading,
.case-one-planning-text {
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-one-planning-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 0.9;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-one-planning-idea-1 {
  @include respond-above(medium) {
    grid-area: d;
  }
}

.case-one-planning-idea-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.case-one-planning-idea-3 {
  @include respond-above(medium) {
    align-self: end;
    grid-area: c;
  }
}

.case-one-planning-idea-4 {
  @include respond-above(medium) {
    align-self: end;
    grid-area: a;
  }
}

.case-one-planning-idea-5 {
  @include respond-above(medium) {
    grid-area: e;
  }
}

.case-one-planning-ideas {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-areas:
      ". a a a a a b b b b b b"
      "d d d d d d d e e e e ."
      "d d d d d d d c c c c c"
      ". . . . . . . c c c c c";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-one-planning-img,
.case-one-planning-video {
  border-radius: 0.8vw;
}

.case-one-planning-img-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.case-one-planning-img-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.case-one-planning-imgs {
  display: grid;
  row-gap: 4vw;

  @include respond-above(medium) {
    column-gap: 4vw;
    grid-template-areas:
      "a a a a a a a . . . . ."
      "a a a a a a a . . . . ."
      "a a a a a a a b b b b b"
      ". . . . . . . b b b b b";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-one-planning-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}

.case-one-planning-text-link {
  text-decoration: underline;
}
