.detail-two-desc {
  @include padding(null $sp-unit-4 * 3);
  display: grid;
  grid-template-areas:
    "a"
    "b";
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    column-gap: $sp-unit-5;
    grid-template-areas: ". . a a a b b b b b . .";
    grid-template-columns: repeat(12, 1fr);
    row-gap: unset;
  }

  @include respond-above(large) {
    grid-template-areas: ". . . . a a b b b b . .";
  }

  @include respond-above(xlarge) {
    column-gap: $sp-unit-5;
    grid-template-areas: ". . . . a a b b b . . .";
  }
}

.detail-two-highlight {
  display: grid;
  grid-auto-rows: min-content;
}

.detail-two-highlight-heading {
  font-size: $font-body-6;
  font-weight: $font-weight-regular;
}

.detail-two-highlight-text,
.detail-two-text {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
}

.detail-two-highlights,
.detail-two-text-wrapper {
  grid-auto-rows: min-content;
}

.detail-two-highlights {
  display: grid;
  grid-area: a;

  @include respond-below(medium) {
    gap: $sp-unit-4;
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-above(medium) {
    row-gap: $sp-unit-3 * 2;
  }
}

.detail-two-text {
  text-align: justify;
}

.detail-two-text-wrapper {
  display: grid;
  grid-area: b;
  row-gap: $sp-unit-2;
}
