.case-detail-two {
  display: grid;
  height: 100vh;
}

.case-detail-two-text {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  place-self: center;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}
