.detail-one-intro {
  @include padding($sp-unit-2 $sp-unit-2 null $sp-unit-2);
  background-image: url(../images/line.svg);
  background-position-y: 47%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b b b"
    ". c c c"
    ". . d d"
    "f g g e"
    ". i i e"
    ". j j j"
    "h h h h";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(small) {
    background-position-y: 48%;
  }

  @include respond-above(medium) {
    background-position-y: 31%;
    grid-template-areas:
      ". . . . . . . . . . a a"
      "b b b b b b b b e e a a"
      ". c c c c d d d d d d d"
      ". . . . f f g g g g g g"
      "h h . i i . . j j j j j";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    background-image: url(../images/lines.svg);
    background-position-y: 90%;
  }

  @include respond-above(xlarge) {
    background-position-y: 72%;
  }

  @include respond-above(xxlarge) {
    background-position-y: 58%;
  }
}

.detail-one-intro-date-1,
.detail-one-intro-date-2,
.detail-one-intro-subtext,
.detail-one-intro-text-1,
.detail-one-intro-text-2,
.detail-one-intro-text-3,
.detail-one-intro-text-4,
.detail-one-intro-text-5,
.detail-one-intro-text-6,
.detail-one-intro-text-7 {
  user-select: none;
}

.detail-one-intro-date-1,
.detail-one-intro-date-2,
.detail-one-intro-text-1,
.detail-one-intro-text-2,
.detail-one-intro-text-3,
.detail-one-intro-text-4,
.detail-one-intro-text-5,
.detail-one-intro-text-6,
.detail-one-intro-text-7 {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  font-weight: $font-weight-thin;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-one-intro-date-1,
.detail-one-intro-date-2 {
  @include respond-above(medium) {
    display: grid;
  }
}

.detail-one-intro-date-1 {
  grid-area: a;
  text-align: right;
}

.detail-one-intro-date-2 {
  grid-area: h;

  @include respond-above(medium) {
    text-align: right;
    transform: scale(-1);
  }
}

.detail-one-intro-subtext {
  display: grid;
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-area: e;
  grid-auto-rows: min-content;
  text-transform: capitalize;
  user-select: none;

  @include respond-above(medium) {
    font-size: $font-body-4;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.detail-one-intro-text-1 {
  grid-area: b;
}

.detail-one-intro-text-2 {
  grid-area: c;
}

.detail-one-intro-text-3 {
  grid-area: d;
}

.detail-one-intro-text-4 {
  grid-area: f;
}

.detail-one-intro-text-5 {
  grid-area: g;
}

.detail-one-intro-text-6 {
  grid-area: i;
}

.detail-one-intro-text-7 {
  grid-area: j;
  text-align: right;
}
