.case-two-iteration {
  display: grid;
  row-gap: 2vw;
}

.case-two-iteration-feedback {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-areas:
      "a a a a a a . b b b b b"
      "a a a a a a f f f f f f"
      "a a a a a a f f f f f f"
      ". d d d d . f f f f f f"
      ". d d d d . . . e e e e"
      "c c c c c c c c e e e e";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-two-iteration-feedback-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.case-two-iteration-feedback-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.case-two-iteration-feedback-3 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.case-two-iteration-feedback-4 {
  @include respond-above(medium) {
    grid-area: d;
  }
}

.case-two-iteration-feedback-5 {
  @include respond-above(medium) {
    grid-area: e;
  }
}

.case-two-iteration-feedback-6 {
  @include respond-above(medium) {
    grid-area: f;
  }
}

.case-two-iteration-heading,
.case-two-iteration-text {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-two-iteration-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 1;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-two-iteration-img,
.case-two-iteration-video {
  border-radius: 0.8vw;
}

.case-two-iteration-imgs {
  align-items: center;
  column-gap: 4vw;
  display: grid;
  grid-template-columns: 1fr 0.89fr 0.89fr;
}

.case-two-iteration-prototype {
  border-radius: 9vw;
  justify-self: center;
  width: 58vw;

  @include respond-above(medium) {
    border-radius: 2.8vw;
    width: 18vw;
  }
}

.case-two-iteration-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}

.case-two-iteration-visuals {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-columns: 18vw 22vw;
    justify-content: center;
  }
}
