.case-two-planning {
  display: grid;
  row-gap: 2vw;
}

.case-two-planning-heading,
.case-two-planning-text {
  color: $trinidad-orange;
}

.case-two-planning-heading,
.case-two-planning-text {
  font-feature-settings: 'salt' on, 'ss02' on;
}

.case-two-planning-heading {
  font-size: 13vw;
  font-weight: $font-weight-medium;
  line-height: 1;

  @include respond-above(medium) {
    font-size: 10vw;
  }
}

.case-two-planning-img,
.case-two-planning-video {
  border-radius: 0.8vw;
}

.case-two-planning-img-1 {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.case-two-planning-img-2 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.case-two-planning-imgs {
  display: grid;
  gap: 4vw;

  @include respond-above(medium) {
    grid-template-areas:
      "a a a a a a a . . . . ."
      "a a a a a a a . . . . ."
      "a a a a a a a b b b b b"
      ". . . . . . . b b b b b";
    grid-template-columns: repeat(12, 1fr);
  }
}

.case-two-planning-phone {
  border-radius: 9vw;
  justify-self: center;
  width: 58vw;

  @include respond-above(medium) {
    border-radius: 2.8vw;
    width: 18vw;
  }
}

.case-two-planning-text {
  font-size: 4.6vw;
  line-height: 1.4;
  text-align: justify;

  @include respond-above(medium) {
    font-size: 2.4vw;
  }
}

.case-two-planning-text-link {
  text-decoration: underline;
}
