.detail-two-finale {
  @include padding(null $sp-unit-4);
  border-top: $border-unit-2 solid $woodsmoke-black;
  display: grid;
  row-gap: $sp-unit-2 * 10;

  @include respond-above(medium) {
    @include padding(unset);
    row-gap: $sp-unit-3 * 10;
  }
}

.detail-two-finale-conclusion {
  display: grid;
  row-gap: $sp-unit-4 * 3;

  @include respond-above(medium) {
    gap: $sp-unit-4;
    grid-template-areas:
      ". a a a a . . . . . . ."
      ". b b b b b . . . . . ."
      ". b b b b b c c c c c ."
      ". . . . . . c c c c c .";

    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    grid-template-areas:
      ". a a a . . . . . . . ."
      ". . . b b b b . . . . ."
      ". . . b b b b c c c c ."
      ". . . . . . . c c c c .";
  }
}

.detail-two-finale-conclusion-1,
.detail-two-finale-conclusion-2 {
  display: grid;
  grid-auto-rows: min-content;
  row-gap: $sp-unit-4;
}

.detail-two-finale-conclusion-1 {
  @include respond-above(medium) {
    grid-area: b;
  }
}

.detail-two-finale-conclusion-2 {
  @include respond-above(medium) {
    grid-area: c;
  }
}

.detail-two-finale-conclusion-heading,
.detail-two-finale-outro-text,
.detail-two-finale-separator-number {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.detail-two-finale-conclusion-heading {
  line-height: $leading-unit-1;
}

.detail-two-finale-conclusion-intro,
.detail-two-finale-conclusion-text {
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  line-height: $leading-unit-5;
  text-align: justify;
}

.detail-two-finale-conclusion-intro {
  @include respond-above(medium) {
    grid-area: a;
  }
}

.detail-two-finale-outro {
  display: grid;
  height: 50vh;
}

.detail-two-finale-outro-text {
  place-self: center;
}

.detail-two-finale-separator {
  column-gap: $sp-unit-4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.detail-two-finale-separator-number,
.detail-two-finale-separator-text {
  user-select: none;
}

.detail-two-finale-separator-number {
  @include respond-above(medium) {
    grid-column: 2;
  }
}

.detail-two-finale-separator-text {
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-column: span 4;
  padding-top: $sp-unit-4;
  text-transform: capitalize;

  @include respond-above(small) {
    grid-column: span 3;
  }

  @include respond-above(medium) {
    font-size: $font-body-4;
    grid-column: 3/span 2;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
    grid-column: 3/span 1;
  }
}
