.footer {
  @include padding(null $sp-unit-2);
  background-image: url(../images/line.svg);
  background-position-y: 32%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "a a a a"
    ". b b b"
    ". . c h"
    "d d d h"
    ". e e e"
    ". . f f"
    ". g g .";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(small) {
    background-position-y: 36%;
  }

  @include respond-above(medium) {
    background-position-y: 36%;
  }

  @include respond-above(large) {
    background-image: url(../images/lines.svg);
    background-position-y: 57%;
    grid-template-areas:
      ". a a a a a a a a a a a"
      ". . . b b b b b b b b h"
      ". . . . c c c c c c c h"
      ". . . . . d d d d d d h"
      ". . e e e e e e e e e e"
      ". . . . f f f f f f f f"
      ". . . . . . . g g g g g";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(xlarge) {
    background-position-y: 49%;
  }

  @include respond-above(xxlarge) {
    background-position-y: 43%;
  }
}

.footer-link-1,
.footer-link-2,
.footer-link-3,
.footer-link-4,
.footer-subtext,
.footer-text-1,
.footer-text-2,
.footer-text-3 {
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
}

.footer-link-1,
.footer-link-2,
.footer-link-3,
.footer-link-4,
.footer-text-1,
.footer-text-2,
.footer-text-3 {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.footer-link-1,
.footer-link-2,
.footer-link-3,
.footer-link-4 {
  cursor: crosshair;
  text-decoration: none;

  &:hover {
    background-color: $woodsmoke-black;
    color: $hint-of-red;
  }
}

.footer-link-1 {
  grid-area: d;
}

.footer-link-2 {
  grid-area: e;
}

.footer-link-3 {
  grid-area: f;
}

.footer-link-4 {
  grid-area: g;
}

.footer-subtext {
  align-self: center;
  display: grid;
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-area: h;
  grid-auto-rows: min-content;

  @include respond-above(large) {
    font-size: $font-body-4;
    transform: rotate(90deg);
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.footer-text-1 {
  grid-area: a;
}

.footer-text-2 {
  grid-area: b;
}

.footer-text-3 {
  grid-area: c;
}
