.home-intro {
  background-image: url("../images/home-intro-line-2.svg");
  background-position: 77% 36%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: grid;
  grid-template-areas:
    ". . a a a a a a a a a a"
    ". . . e e b b b b b b ."
    "d d c c c c c f f f f f";
  grid-template-columns: repeat(12, 1fr);
  margin-left: 4vw;
  margin-right: 4vw;
}

.home-intro-heading-1,
.home-intro-heading-2,
.home-intro-heading-3,
.home-intro-line-2-text-wrapper,
.home-intro-line-3-text-wrapper {
  color: $trinidad-orange;
  user-select: none;
}

.home-intro-heading-1,
.home-intro-heading-2,
.home-intro-heading-3 {
  font-family: $font-pleasure;
  font-size: 26vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
}

.home-intro-heading-1 {
  grid-area: a;
}

.home-intro-heading-2 {
  grid-area: b;
  margin-top: -8vw;
  text-align: end;
}

.home-intro-heading-3 {
  grid-area: c;
  margin-top: -16vw;
}

.home-intro-line-1 {
  grid-area: d;
  margin-top: -22vw;
}

.home-intro-line-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.home-intro-line-2-character-1 {
  transform: rotate(-17.33deg);
}

.home-intro-line-2-character-2 {
  margin-left: -0.1vw;
  margin-top: 0.5vw;
  transform: rotate(14.62deg);
}

.home-intro-line-2-character-3 {
  margin-left: 0.1vw;
  margin-top: -0.5vw;
  transform: rotate(16.06deg);
}

.home-intro-line-2-character-4 {
  margin-left: 0.1vw;
  margin-top: -0.7vw;
  transform: rotate(-4.65deg);
}

.home-intro-line-2-character-5 {
  margin-left: -0.1vw;
}

.home-intro-line-2-character-6 {
  margin-top: 1vw;
  transform: rotate(16.06deg);
}

.home-intro-line-2-character-7 {
  margin-top: -1vw;
  transform: rotate(12.22deg);
}

.home-intro-line-2-character-8 {
  margin-top: -0.2vw;
  transform: rotate(-4.11deg);
}

.home-intro-line-2-character-9 {
  margin-top: -0.4vw;
  transform: rotate(5.93deg);
}

.home-intro-line-2-character-10 {
  transform: rotate(-15.09deg);
}

.home-intro-line-2-text-1,
.home-intro-line-2-text-2,
.home-intro-line-3-text-1,
.home-intro-line-3-text-2 {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
}

.home-intro-line-2-text-wrapper,
.home-intro-line-3-text-wrapper {
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 2.2vw;
  font-weight: $font-weight-bold;
}

.home-intro-line-2-text-wrapper {
  left: 2vw;
  position: absolute;
  top: 1.5vw;
}

.home-intro-line-2-wrapper {
  display: grid;
  grid-area: e;
  grid-auto-rows: min-content;
  position: relative;
}

.home-intro-line-3 {
  width: 5vw;
}

.home-intro-line-3-character-1 {
  transform: rotate(16.59deg);
}

.home-intro-line-3-character-2 {
  margin-left: 0.2vw;
  margin-top: -0.2vw;
  transform: rotate(-16deg);
}

.home-intro-line-3-character-3 {
  margin-left: -0.3vw;
  margin-top: 0.8vw;
  transform: rotate(4.45deg);
}

.home-intro-line-3-character-4 {
  margin-left: 1vw;
  margin-top: -0.5vw;
  transform: rotate(-7.69deg);
}

.home-intro-line-3-character-5 {
  margin-left: -0.1vw;
  transform: rotate(10.12deg);
}

.home-intro-line-3-character-6 {
  margin-top: -1vw;
  transform: rotate(-8.68deg);
}

.home-intro-line-3-character-7 {
  margin-left: -0.2vw;
  margin-top: -1.5vw;
  transform: rotate(8.72deg);
}

.home-intro-line-3-character-8 {
  margin-left: 0.2vw;
  margin-top: -1vw;
  transform: rotate(-2.68deg);
}

.home-intro-line-3-character-9 {
  margin-left: -0.2vw;
  transform: rotate(11.41deg);
}

.home-intro-line-3-character-10 {
  margin-top: -0.8vw;
  transform: rotate(-2.68deg);
}

.home-intro-line-3-character-11 {
  margin-left: -0.3vw;
  margin-top: -0.3vw;
  transform: rotate(11.11deg);
}

.home-intro-line-3-character-12 {
  margin-top: -0.4vw;
  transform: rotate(-1.43deg);
}

.home-intro-line-3-text-wrapper {
  display: grid;
  grid-auto-rows: min-content;
  margin-left: -1vw;
  margin-top: 3vw;
}

.home-intro-line-3-wrapper {
  display: grid;
  grid-area: f;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
}
