.home-case-one {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    ". . a a a a a a a a a a"
    ". . . b b b b b b d d d"
    ". . . . c c c c c e e e";
  grid-template-columns: repeat(12, 1fr);
}

.home-case-one-heading-1,
.home-case-one-heading-2,
.home-case-one-text {
  color: $trinidad-orange;
}

.home-case-one-heading-1,
.home-case-one-heading-2 {
  font-family: $font-pleasure;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
  font-size: 13vw;
}

.home-case-one-heading-1 {
  display: grid;
  grid-area: b;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  transform: rotate(4.62deg);
}

.home-case-one-heading-1-detail {
  margin-left: 1vw;
  margin-top: -2vw;
  transform: rotate(-10.32deg);
}

.home-case-one-heading-2 {
  display: grid;
  grid-area: c;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  margin-top: -7vw;
  transform: rotate(-3.61deg);
}

.home-case-one-heading-2-detail {
  padding-top: 2vw;
  transform: rotate(13.01deg);
}

.home-case-one-line-1 {
  grid-area: a;
}

.home-case-one-link {
  grid-area: e;
}

.home-case-one-text {
  font-size: 2vw;
  grid-area: d;
}
