.home-detail-one {
  align-content: center;
  background:
    radial-gradient(165% 202.44% at 15.42% 8.5%, #232323 0%, rgba(248, 245, 244, 0) 42.07%),
    radial-gradient(58.66% 61.63% at 94.93% 95.78%, #232323 0%, rgba(248, 245, 244, 0) 100%);
  column-gap: $sp-unit-4;
  display: grid;
  height: 100vh;
  grid-template-areas:
    ". a a a ."
    ". . b b .";
  grid-template-columns: repeat(6, 1fr);
  padding-left: $sp-unit-12;
  padding-right: $sp-unit-12;
}

.home-detail-one-heading {
  display: grid;
  font-family: $font-stack-primary;
  font-size: 18vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 700;
  grid-area: a;
  grid-auto-rows: min-content;

  @include respond-above(large) {
    font-size: 7vw;
  }
}

.home-detail-one-heading-1 {
  transform: rotate(2deg);
}

.home-detail-one-heading-2 {
  margin-top: -10vw;
  padding-left: 4vw;
  transform: rotate(-1deg);

  @include respond-above(large) {
    margin-top: -4vw;
    padding-left: 2vw;
  }
}

.home-detail-one-text {
  font-feature-settings: 'salt' on;
  font-size: 3vw;
  grid-area: b;
  line-height: $leading-unit-5;

  @include respond-above(small) {
    font-size: 2vw;
    padding-top: unset;
  }

  @include respond-above(large) {
    font-size: 1.1vw;
  }

  @include respond-above(xlarge) {
    font-size: 0.9vw;
  }
}
