.home-case-one {
  display: grid;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "c c b b b b b b b b b b";
  grid-template-columns: repeat(12, 1fr);
  margin-left: 4vw;
  margin-right: 4vw;

  @include respond-below(medium) {
    grid-template-areas:
      "a a a a"
      "b b b b"
      ". c c c";
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15vw;
  }
}

.home-case-one-heading-1,
.home-case-one-heading-2,
.home-case-one-link-arrow,
.home-case-one-link-text-1,
.home-case-one-link-text-2,
.home-case-one-link-text-3 {
  color: $trinidad-orange;
  user-select: none;
}

.home-case-one-heading-1,
.home-case-one-heading-2 {
  font-family: $font-pleasure;
  font-size: 26vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
}

.home-case-one-heading-1 {
  grid-area: a;
  transform: rotate(5.56deg);
}

.home-case-one-heading-2 {
  grid-area: b;
  transform: rotate(-4.7deg);
  margin-top: -10vw;
}

.home-case-one-link {
  position: relative;
}

.home-case-one-link-arrow {
  font-size: 12.1vw;
  font-weight: $font-weight-thin;
  left: 4vw;
  position: absolute;
  top: -6vw;
  transform: rotate(-17.31deg);

  @include respond-below(medium) {
    font-size: 28vw;
    left: 12vw;
    top: -14vw;
  }
}

.home-case-one-link-text-1,
.home-case-one-link-text-2,
.home-case-one-link-text-3 {
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 2.2vw;
  font-weight: $font-weight-bold;

  @include respond-below(medium) {
    font-size: 6vw;
  }
}

.home-case-one-link-text-1 {
  left: 1vw;
  position: absolute;
  top: 0;
  transform: rotate(-9.03deg);
}

.home-case-one-link-text-2 {
  left: 0;
  position: absolute;
  top: 3vw;
  transform: rotate(17.66deg);

  @include respond-below(medium) {
    top: 7vw;
  }
}

.home-case-one-link-text-3 {
  left: 3.6vw;
  position: absolute;
  top: 3vw;
  transform: rotate(-4.97deg);

  @include respond-below(medium) {
    left: 9.8vw;
    top: 7.2vw;
  }
}

.home-case-one-link-wrapper {
  grid-area: c;
}
