.home-intro {
  background-image: url("../images/home-intro-line-2.svg");
  background-position: 77% 36%;
  background-repeat: no-repeat;
  background-size: 50%;
  display: grid;
  grid-template-areas:
    ". . a a a a a a a a a a"
    ". . . e e b b b b b b ."
    "d d c c c c c c c c c c";
  grid-template-columns: repeat(12, 1fr);
  margin-left: 4vw;
  margin-right: 4vw;
}

.home-intro-heading-1,
.home-intro-heading-2,
.home-intro-heading-3 {
  color: $trinidad-orange;
  font-family: $font-pleasure;
  font-size: 26vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
  user-select: none;
}

.home-intro-heading-1 {
  grid-area: a;
}

.home-intro-heading-2 {
  grid-area: b;
  margin-top: -8vw;
  text-align: end;
}

.home-intro-heading-3 {
  grid-area: c;
  margin-top: -16vw;
}

.home-intro-line-1 {
  grid-area: d;
  margin-top: -22vw;
}

.home-intro-line-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.home-intro-line-2-text-1,
.home-intro-line-2-text-2,
.home-intro-line-2-text-3 {
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 2.2vw;
  font-weight: $font-weight-bold;
}

.home-intro-line-2-text-1 {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  left: 1vw;
  position: absolute;
  top: 1vw;
}

.home-intro-line-2-text-2 {
  left: 10vw;
  position: absolute;
  top: 1vw;
  transform: rotate(16.06deg);
}

.home-intro-line-2-text-3 {
  left: 2vw;
  position: absolute;
  top: 6vw;
}

.home-intro-line-2-wrapper {
  grid-area: e;
  position: relative;
}

.home-intro-line-character-1 {
  transform: rotate(-17.33deg);
}

.home-intro-line-character-2 {
  margin-left: -0.1vw;
  margin-top: 0.5vw;
  transform: rotate(14.62deg);
}

.home-intro-line-character-3 {
  transform: rotate(16.06deg);
}

.home-intro-line-character-4 {
  transform: rotate(-4.65deg);
}
