.home-case-two {
  display: grid;
  grid-template-areas:
    ". a a a a"
    ". . . b b"
    "c c c c c"
    ". d d d d";
  grid-template-columns: repeat(5, 1fr);
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 30vw;

  
  @include respond-above(medium) {
    grid-template-areas:
      ". a a a a a a a d d d d"
      ". . . . . . b b b b b b"
      "c c c c c c c c c c c c";
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10vw;
  }
}

.home-case-two-heading-1,
.home-case-two-heading-2,
.home-case-two-heading-3,
.home-case-two-link-arrow,
.home-case-two-link-text-1,
.home-case-two-link-text-2,
.home-case-two-link-text-3,
.home-case-two-link-text-4 {
  color: $trinidad-orange;
  user-select: none;
}

.home-case-two-heading-1,
.home-case-two-heading-2,
.home-case-two-heading-3 {
  font-family: $font-pleasure;
  font-size: 26vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
}

.home-case-two-heading-1 {
  grid-area: a;
  transform: rotate(-12.56deg);
}

.home-case-two-heading-2 {
  grid-area: b;
  margin-bottom: -15vw;
  margin-top: -13vw;
  transform: rotate(3.06deg);
  
  @include respond-above(medium) {
    margin-top: -17vw;
  }
}

.home-case-two-heading-3 {
  grid-area: c;
  transform: rotate(6.89deg);
}

.home-case-two-link {
  position: relative;
}

.home-case-two-link-arrow {
  font-size: 24vw;
  font-weight: $font-weight-thin;
  left: 21vw;
  position: absolute;
  top: -10.5vw;
  transform: rotate(-17.31deg);

  @include respond-above(medium) {
    font-size: 12.1vw;
    left: 8vw;
    top: -6.5vw;
  }
}

.home-case-two-link-text-1,
.home-case-two-link-text-2,
.home-case-two-link-text-3,
.home-case-two-link-text-4 {
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 6vw;
  font-weight: $font-weight-medium;

  @include respond-above(medium) {
    font-size: 2.2vw;
  }
}

.home-case-two-link-text-1 {
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(14.22deg);
}

.home-case-two-link-text-2 {
  left: 15.5vw;
  position: absolute;
  top: 0.5vw;
  transform: rotate(-16.2deg);

  @include respond-above(medium) {
    left: 5.5vw;
  }
}

.home-case-two-link-text-3 {
  left: 1vw;
  position: absolute;
  top: 5.5vw;
  transform: rotate(-16.2deg);

  @include respond-above(medium) {
    top: 2.5vw;
  }
}

.home-case-two-link-text-4 {
  left: 10.8vw;
  position: absolute;
  top: 6.5vw;
  transform: rotate(3.44deg);

  @include respond-above(medium) {
    left: 4.8vw;
    top: 2.5vw;
  }
}

.home-case-two-link-wrapper {
  grid-area: d;

  @include respond-above(medium) {
    padding-top: 8vw;
  }
}
