.home-case-two {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    "a a a a"
    "b b b b"
    ". c c c"
    ". d d d";
  grid-template-columns: repeat(4, 1fr);
  padding-left: 2rem;
  padding-right: 2rem;
}

.home-case-two-heading-1,
.home-case-two-heading-2 {
  font-family: $font-pleasure;
  font-size: 20vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;

  @include respond-above(medium) {
    font-size: 13vw;
  }
}

.home-case-two-heading-1 {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
}

.home-case-two-heading-2 {
  margin-top: -2rem;
  padding-left: 15vw;
}

.home-case-two-heading-span-1 {
  transform: rotate(-12.02deg);
}

.home-case-two-heading-span-2 {
  transform: rotate(21.6deg);
}

.home-case-two-headings {
  display: grid;
  grid-area: b;
  grid-auto-rows: min-content;
}

.home-case-two-line-1 {
  grid-area: a;
  width: 100%;
}

.home-case-two-link {
  grid-area: d;
}

.home-case-two-text-1,
.home-case-two-text-2 {
  display: grid;
  font-feature-settings: 'salt' on;
  font-size: 4vw;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  
  @include respond-above(small) {
    font-size: 3vw;
  }

  @include respond-above(large) {
    font-size: 2vw;
  }
}
.home-case-two-texts {
  grid-area: c;
}
