.home-case-one {
  display: grid;
  grid-template-areas:
    "a a a a a a a a a a a a"
    "c c b b b b b b b b b b";
  grid-template-columns: repeat(12, 1fr);
  margin-left: 4vw;
  margin-right: 4vw;
}

.home-case-one-heading-1,
.home-case-one-heading-2 {
  color: $trinidad-orange;
  font-family: $font-pleasure;
  font-size: 26vw;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
}

.home-case-one-heading-1 {
  grid-area: a;
  transform: rotate(5.56deg);
}

.home-case-one-heading-2 {
  grid-area: b;
  transform: rotate(-4.7deg);
  margin-top: -10vw;
}

.home-case-one-link {
  grid-area: c;
}
