.intro {
  @include padding(null $sp-unit-2);
  background-image: url(../images/line.svg);
  background-position-y: 50%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b b b"
    "c c c c"
    ". e e e"
    ". f f f"
    ". . . d"
    "g g g d"
    ". i i i"
    "j j j j"
    "h h h h";
  grid-template-columns: repeat(4, 1fr);

  @include respond-above(small) {
    background-position-y: 54%;
  }

  @include respond-above(medium) {
    background-position-y: 35%;
    grid-template-areas:
      ". . . . . . . . . . . a"
      "b b b b b b b b b b b a"
      ". . . . . c c c c c c a"
      "d . . . . . . e e e e e"
      "d . . . . f f f f f f f"
      ". . . . . . . g g g g g"
      "h . . . . . . g g g g g"
      "h . . i i i i i i i i i"
      "h . . . j j j j j j j j"
      "h . . . . . . . . . . .";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(large) {
    background-image: url(../images/lines.svg);
    background-position-y: 70%;
  }

  @include respond-above(xlarge) {
      background-position-y: 62%;
  }

  @include respond-above(xxlarge) {
      background-position-y: 57%;
  }
}

.intro-date-1,
.intro-date-2,
.intro-subtext,
.intro-text-1,
.intro-text-2,
.intro-text-3,
.intro-text-5,
.intro-text-6,
.intro-text-7 {
  text-transform: capitalize;
  user-select: none;
  white-space: nowrap;
}

.intro-date-1,
.intro-date-2,
.intro-text-1,
.intro-text-2,
.intro-text-3,
.intro-text-4,
.intro-text-5,
.intro-text-6,
.intro-text-7 {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-1;

  @include respond-above(small) {
  font-size: $font-heading-7;
  }

  @include respond-above(large) {
    font-size: $font-heading-9;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-12;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-15;
  }
}

.intro-date-1,
.intro-date-2 {
  @include respond-above(medium) {
    display: grid;
  }
}

.intro-date-1 {
  grid-area: a;
  text-align: right;
}

.intro-date-2 {
  grid-area: h;

  @include respond-above(medium) {
    transform: scale(-1);
  }
}

.intro-subtext {
  display: grid;
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-area: d;
  grid-auto-rows: min-content;
  user-select: none;

  @include respond-above(medium) {
    font-size: $font-body-4;
    transform: rotate(90deg);
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }
}

.intro-text-1 {
  grid-area: b;
}

.intro-text-2 {
  grid-area: c;
}

.intro-text-3,
.intro-text-7 {
  text-align: end;
}

.intro-text-3 {
  grid-area: e;
}

.intro-text-4 {
  grid-area: f;
}

.intro-text-5 {
  grid-area: g;
}

.intro-text-6 {
  grid-area: i;
}

.intro-text-7 {
  grid-area: j;
}
