.nav {
  @include padding($sp-unit-3 null);
  @include position(sticky, 0 null null null);
}

.nav-list {
  column-gap: $sp-unit-4 * 3;
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
}

.nav-list-item-subtext {
  color: $silver-chalice-grey;
  font-size: $font-subtitle-3;
  font-style: italic;
  padding-left: $sp-unit-4;
}

.nav-list-item-link {
  font-size: $font-body-5;
  text-decoration: none;
}
