.nav {
  align-items: center;
  background-color: $hint-of-red;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  padding: $sp-unit-2;

  @include respond-above(medium) {
    grid-template-columns: max-content 1fr;
  }
}

.nav-link {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-2;
  text-decoration: none;
  user-select: none;

  @include respond-above(medium) {
    font-size: $font-heading-3;
  }
}

.nav-list {
  @include position(fixed, 0);
  background-color: $hint-of-red;
  display: grid;
  grid-auto-flow: row;
  place-content: center;
  row-gap: $sp-unit-4;

  @include respond-above(medium) {
    @include position(unset, auto);
    gap: 0 ($sp-unit-5 * 2);
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-self: end;
    place-content: unset;
  }
}

.nav-marquee {
  background-color: $woodsmoke-black;
  overflow-x: hidden;
  padding: $sp-unit-1;
}

.nav-marquee-text {
  color: $hint-of-red;
  font-size: $font-body-3;
  font-style: italic;
  font-weight: $font-weight-regular;
}

.nav-marquee-text-wrapper {
  animation-duration: $timing-unit-2 * 110;
  animation-iteration-count: infinite;
  animation-name: marquee;
  animation-timing-function: linear;
  column-gap: $sp-unit-5 * 2;
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  user-select: none;

  @keyframes marquee {
    0% {
      transform: translateX(100%)
    }
    100% {
      transform: translateX(-100%);
    }
  }

  &:hover {
    animation-play-state: paused;
  }
}

.nav-menu {
  display: none;

  @include respond-below(medium) {
    display: grid;
  }
}

.nav-wrapper {
  @include position(sticky, 0 null null null);
  z-index: $z-nav;
}
