.nav {
  align-items: center;
  background-color: $pampas-white;
  border-bottom: 0.4rem solid $trinidad-orange;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 1.3vw 4vw;
  position: sticky;
  top: 0;
  z-index: 1;

  @include respond-below(medium) {
    padding: 3vw 4vw;
  }
}

.nav-link-cv,
.nav-link-home-text-1,
.nav-link-home-text-2,
.nav-link-home-logo {
  user-select: none;
}

.nav-link-cv,
.nav-link-home-text-1,
.nav-link-home-text-2 {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 5vw;

  @include respond-below(medium) {
    font-size: 8vw;
  }
}

.nav-link-home {
  align-items: center;
  display: grid;
  gap: 0.5vw;
  grid-auto-flow: column;

  @include respond-below(medium) {
    gap: 1.5vw;
  }
}

.nav-link-home-logo {
  width: 3vw;

  @include respond-below(medium) {
    width: 5vw;
  }
}
