.one {
  @include padding(null $sp-unit-2);
  background-image: url(../images/lines.svg);
  background-repeat: no-repeat;
  display: grid;

  @include respond-above(large) {
    background-position-y: 44%;
    grid-template-areas:
      ". a a a a a a a a a a a"
      "b b . . . c c c c c c c"
      "b b . . . . d d d d d d"
      ". . . e e e e e e e e e"
      ". . . . f f f f f f f f"
      ". . . . . . . . g g g g"
      "h h h h h h h h h h h h";
    grid-template-columns: repeat(12, 1fr);
  }

  @include respond-above(xlarge) {
    background-position-y: 39%;
  }

  @include respond-above(xxlarge) {
    background-position-y: 36%;
  }
}

.one-text-1,
.one-text-2,
.one-text-3,
.one-text-4,
.one-text-5,
.one-text-6,
.one-link {
  font-size: $font-heading-1;
  font-weight: $font-weight-light;
  line-height: $leading-unit-2;

  @include respond-above(large) {
    font-size: $font-heading-3;
  }

  @include respond-above(xlarge) {
    font-size: $font-heading-6;
  }

  @include respond-above(xxlarge) {
    font-size: $font-heading-9;
  }
}
.one-subtext,
.one-text-1,
.one-text-2,
.one-text-3,
.one-text-4,
.one-text-5,
.one-text-6,
.one-link {
  text-transform: capitalize;
  white-space: nowrap;
}

.one-subtext {
  align-self: center;
  display: grid;
  font-size: $font-body-3;
  font-weight: $font-weight-regular;
  grid-auto-rows: min-content;

  @include respond-above(large) {
    grid-area: b;
    font-size: $font-body-4;
  }

  @include respond-above(xlarge) {
    font-size: $font-body-6;
  }

  @include respond-above(xxlarge) {
    font-size: $font-body-8;
  }
}

.one-text-1 {
  @include respond-above(large) {
    grid-area: a;
  }
}

.one-text-2 {
  @include respond-above(large) {
    grid-area: c;
  }
}

.one-text-3 {
  @include respond-above(large) {
    grid-area: d;
  }
}

.one-text-4 {
  @include respond-above(large) {
    grid-area: e;
  }
}

.one-text-5 {
  text-align: end;

  @include respond-above(large) {
    grid-area: f;
  }
}

.one-text-6 {
  @include respond-above(large) {
    grid-area: g;
  }
}

.one-link {
  cursor: crosshair;
  text-decoration: none;

  &:hover {
    background-color: $pure-yellow;
  }

  @include respond-above(large) {
    grid-area: h;
  }
}
