.socials {
  @include position(fixed, 0 null 0 0);
  align-content: end;
  display: none;
  grid-auto-rows: min-content;
  padding: $sp-unit-2;
  position: fixed;
  row-gap: $sp-unit-2;
  z-index: $z-socials;

  @include respond-above(medium) {
    display: grid;
  }
}

.socials-link {
  cursor: crosshair;
  font-size: $font-body-2;
  font-weight: $font-weight-regular;
  letter-spacing: $kerning-unit-4;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;

  &:hover {
    background-color: $woodsmoke-black;
    color: $hint-of-red;
  }
}
