@font-face {
  font-display: swap;
  font-family: "NN Forever Grotesk";
  font-style: normal;
  font-weight: $font-weight-regular;
  src: font-url("NNForeverGrotesk-Normal.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "NN Forever Grotesk";
  font-style: italic;
  font-weight: $font-weight-regular;
  src: font-url("NNForeverGrotesk-NormalDiagonal.woff2") format("woff2");
}

