// Typefaces
$font-stack-primary: "neue-haas-unica", $font-stack-helvetica;
$font-stack-secondary: "freight-display-pro", $font-stack-georgia;

// Font weights
$font-weight-bold: 600;
$font-weight-heavy: 700;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-regular: 400;
