// Typefaces
$font-stack-primary: "NN Forever Grotesk", $font-stack-helvetica;

// Font weights
$font-weight-bold: 600;
$font-weight-heavy: 700;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-regular: 400;

// Colors
$pure-black: #000000;
$pure-black-15: rgba($pure-black, 0.15);
$pure-white: #ffffff;
$shark-black: #1c1e22;
$silver-chalice-grey: #a6a6a6;
$woodsmoke-black: #121316;

// Spacings
$sp-base-unit: 1rem;
$sp-base-ratio: 0.5;
$sp-unit-1: $sp-base-unit * $sp-base-ratio;
$sp-unit-2: $sp-base-unit * ($sp-base-ratio * 2);
$sp-unit-3: $sp-base-unit * ($sp-base-ratio * 3);
$sp-unit-4: $sp-base-unit * ($sp-base-ratio * 4);
$sp-unit-5: $sp-base-unit * ($sp-base-ratio * 5);

// Font subtitles sizes
$font-subtitle-unit: 1rem;
$font-subtitle-ratio: 0.2;
$font-subtitle-1: $font-subtitle-unit;
$font-subtitle-2: $font-subtitle-unit + ($font-subtitle-ratio * 1);
$font-subtitle-3: $font-subtitle-unit + ($font-subtitle-ratio * 2);
$font-subtitle-4: $font-subtitle-unit + ($font-subtitle-ratio * 3);
$font-subtitle-5: $font-subtitle-unit + ($font-subtitle-ratio * 4);

// Font body sizes
$font-body-size: 1rem;
$font-body-ratio: 0.2;
$font-body-1: $font-body-size * ($font-body-ratio * 10);
$font-body-2: $font-body-size * ($font-body-ratio * 11);
$font-body-3: $font-body-size * ($font-body-ratio * 12);
$font-body-4: $font-body-size * ($font-body-ratio * 13);
$font-body-5: $font-body-size * ($font-body-ratio * 14);
$font-body-6: $font-body-size * ($font-body-ratio * 15);

// Font heading sizes
$font-heading-size: 1rem;
$font-heading-ratio: 0.5;
$font-heading-1: $font-heading-size * ($font-heading-ratio * 10);
$font-heading-2: $font-heading-size * ($font-heading-ratio * 11);
$font-heading-3: $font-heading-size * ($font-heading-ratio * 12);
$font-heading-4: $font-heading-size * ($font-heading-ratio * 13);
$font-heading-5: $font-heading-size * ($font-heading-ratio * 14);
$font-heading-6: $font-heading-size * ($font-heading-ratio * 15);
$font-heading-7: $font-heading-size * ($font-heading-ratio * 16);
$font-heading-8: $font-heading-size * ($font-heading-ratio * 17);
$font-heading-9: $font-heading-size * ($font-heading-ratio * 18);
$font-heading-10: $font-heading-size * ($font-heading-ratio * 19);
$font-heading-11: $font-heading-size * ($font-heading-ratio * 20);

// Line heights
$leading-base-unit: 1;
$leading-base-ratio: 0.1;
$leading-unit-1: $leading-base-unit;
$leading-unit-2: $leading-base-unit + ($leading-base-ratio * 1);
$leading-unit-3: $leading-base-unit + ($leading-base-ratio * 2);
$leading-unit-4: $leading-base-unit + ($leading-base-ratio * 3);
$leading-unit-5: $leading-base-unit + ($leading-base-ratio * 4);

// Letter spacings
$kerning-base-unit: 0.02rem;
$kerning-unit-1: $kerning-base-unit;
$kerning-unit-2: $kerning-base-unit * 2;
$kerning-unit-3: $kerning-base-unit * 3;
$kerning-unit-4: $kerning-base-unit * 4;
$kerning-unit-5: $kerning-base-unit * 5;

// Border sizes
$border-base-unit: 0.1rem;
$border-unit-1: $border-base-unit;
$border-unit-2: $border-base-unit * 2;
$border-unit-3: $border-base-unit * 3;
$border-unit-4: $border-base-unit * 4;
$border-unit-5: $border-base-unit * 5;

// Shadows
$sh-base-unit: 1rem;
$sh-base-ratio: 0.2;
$sh-unit-1: $sh-base-unit * ($sh-base-ratio * 20);
$sh-unit-2: $sh-base-unit * ($sh-base-ratio * 21);
$sh-unit-3: $sh-base-unit * ($sh-base-ratio * 22);
$sh-unit-4: $sh-base-unit * ($sh-base-ratio * 23);
$sh-unit-5: $sh-base-unit * ($sh-base-ratio * 24);


// Animation timings
$timing-base-unit: 0.1s;
$timing-unit-1: $timing-base-unit;
$timing-unit-2: $timing-base-unit * 2;
$timing-unit-3: $timing-base-unit * 3;
$timing-unit-4: $timing-base-unit * 4;
$timing-unit-5: $timing-base-unit * 5;
