// Colors
$pampas-white: #EFEBE4;
$trinidad-orange: #EC5B09;

// Weights
$font-weight-bold: 700;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-thin: 200;

// Typfaces
$font-pleasure: "Pleasure Variable", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$font-forever: "NN Forever Grotesk", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
