.about {
  @include contain(xxlarge);
  @include margin(null auto);
  display: grid;
  padding-top: $sp-unit-2;
  row-gap: $sp-unit-5 * 3;

  @include respond-above(large) {
    row-gap: $sp-unit-3 * 10;
  }
}
