@keyframes introin {
  from {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 620;
  }
  to {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 620;
  }
}

@keyframes introout {
  from {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 620;
  }
  to {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 620;
  }
}

@keyframes socialin {
  from {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
  }
  to {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 900;
  }
}

@keyframes socialout {
  from {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 900;
  }
  to {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
  }
}

@keyframes workin {
  from {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 500;
  }
  to {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 500;
  }
}

@keyframes workout {
  from {
    font-variation-settings: "TRAP" 0, "ital" 0, "wght" 500;
  }
  to {
    font-variation-settings: "TRAP" 100, "ital" 0, "wght" 500;
  }
}

.home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  overflow-y: hidden;
  width: 608vh;
}

.home-intro {
  display: grid;
  grid-auto-rows: min-content 1fr min-content;
  padding: 7.5vh;
  row-gap: 7.5vh;
}

.home-intro-bottom {
  display: grid;
  grid-auto-columns: 40vh;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 7.5vh;
}

.home-intro-bottom-link {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: introout;
  font-family: $font-pleasure;
  font-size: 2vh;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 620;

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: introin;
  }
}

.home-intro-bottom-text,
.home-intro-top-text {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 2.2vh;
  font-weight: 500;
  text-align: justify;
  user-select: none;
}

.home-intro-center {
  position: relative;
}

.home-intro-center-drawing {
  left: 94vh;
  position: absolute;
  top: 14vh;
  width: 20vh;
}

.home-intro-center-line {
  left: 20vh;
  position: absolute;
  top: -4vh;
  width: 97vh;
}

.home-intro-top {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.home-social-1,
.home-social-2,
.home-social-3,
.home-social-4 {
  color: $trinidad-orange;
  font-family: $font-pleasure;
  font-size: 18vh;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 900;
}

.home-social-drawing {
  left: 35vh;
  position: absolute;
  top: 36vh;
  width: 17vh;
}

.home-social-1 {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: socialout;
  transform: rotate(-2deg);

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: socialin;
  }
}

.home-social-2 {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: socialout;
  margin-left: 4vh;
  margin-top: -4vh;
  transform: rotate(3deg);

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: socialin;
  }
}

.home-social-3 {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: socialout;
  margin-top: -4vh;
  transform: rotate(-2deg);

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: socialin;
  }
}

.home-social-4 {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: socialout;
  margin-left: 18vh;
  margin-top: -4vh;
  transform: rotate(5deg);

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: socialin;
  }
}

.home-socials {
  display: grid;
  grid-auto-rows: min-content;
  place-content: center;
  position: relative;
}

.home-work {
  column-gap: 7.5vh;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  position: relative;
}

.home-work-drawing-1,
.home-work-drawing-2,
.home-work-drawing-3 {
  position: absolute;
}

.home-work-drawing-1 {
  width: 14vh;
  left: 17vh;
  top: 5vh;
}

.home-work-drawing-2 {
  bottom: -11vh;
  right: 2vh;
  width: 22vh;
}

.home-work-drawing-3 {
  left: 91vh;
  top: 13vh;
  width: 24vh;
}

.home-work-line-1,
.home-work-line-2 {
  height: 100vh;
}

.home-work-text {
  color: $trinidad-orange;
  font-feature-settings: 'salt' on, 'ss02' on;
  font-size: 10.4vh;
  letter-spacing: -0.3vh;
  line-height: 1;
  margin-top: 26vh;
  text-align: justify;
  transform: rotate(-3deg);
  user-select: none;
  width: 100%;
}

.home-work-text-link {
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-name: workout;
  font-family: $font-pleasure;
  font-variation-settings: "TRAP" 100, "ital" 0, "wght" 500;

  &:hover {
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: workin;
  }
}

.home-work-text-transform {
  transform: rotate(2.91deg);
}
