::selection {
  background-color: $pure-yellow;
}

html {
  font-family: $font-stack-primary;
  font-size: 62.5%;
}

a {
  color: inherit;
  cursor: crosshair;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $woodsmoke-black;
  margin: 0;
}
