@import "reset.scss";
@import "breakpoints.scss";
@import "variables.scss";
@import "fonts.scss";
@import "defaults.scss";
@import "intro.scss";
@import "list.scss";

.main {
  display: grid;
  padding: 4vw;

  @include respond-above(large) {
    grid-template-columns: 2fr 1fr;
    padding-left: 2vw;
    padding-top: 2vw;
    padding-right: unset;
    padding-bottom: unset;

  }
}
