@import "reset.scss";
@import "breakpoints.scss";
@import "variables.scss";
@import "fonts.scss";
@import "defaults.scss";
@import "intro.scss";
@import "list.scss";

.main {
  display: grid;
  padding: 8vw;

  @include respond-above(large) {
    grid-template-columns: 2fr 1fr;
  }
}
